@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&family=Oswald&family=Varela+Round&display=swap');
body{
    background-color: #1c1b1b;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Lato', sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 46px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 70vh;
    background-color: black;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    width: 80%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bottom{
    position: sticky;
    height: 100px;
    background-color: #000000aa;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.icons{
    margin-top: 10px;
}
.icons i{
    cursor: pointer;
}
#myprogressbar{
    margin-top: 30px;
    width: 20vw;
    text-align: center;
    cursor: pointer;
}
.songitemcontainer{
    margin-top: 60px;
    margin-left: 100px;
}
.songitem{
    height: 50px;
    background-color: #ffffffbb;
    color: black;
    display: flex ;
    margin: 12px 0;
    align-items:center;
    border-radius: 34px;
    justify-content: space-between;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.songitemimg{
    margin: 0px 10px;
    border-radius: 50%;
}

.songlistplay{
    float: right;
}

.timestamp{
    margin: 0 23px;
}
.timestamp i{
    cursor: pointer;
}
.songinfo{
    
    margin: top 20px;;
    margin-bottom: 20px;
    padding: auto;
    font-family: 'Varela Round', sans-serif;

}
.songinfo iframe{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
